/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
$footer-text-color: #000;
$footer-background-color: #57738E;
$footer-menus-bkg: #fff;
$hover-hilite-color: #eaeaea;
$button-color: #0a83b6;
$bottom-cta-bkg: #efefef;
$listing-background-color: #fff;
// Background colors:
// Background colors:

// special colors
/* ----------- end Colors ----------- */
