/* **** media **** */

@media only screen and (max-width: 767px) {
	img.listing-title-logo {
		float: right;
	}
.header-complex .header-navigation  #menu-ea-main-menu {
		margin-top: 150px; // size of header background
	}
	.footer-top .widget_nav_menu.ea-footer-menu .menu li a {
		line-height: 1em !important;
	}
	footer.footer .footer-top .footer-top-inner .widget {
		display: block;
		padding-top: 0px;
		padding-bottom: 0px;
		text-align: center;
	}

}
@media only screen and (max-width: 991px) { // smaller than md in boot strap.
	.listing-detail .listing-detail-thumb img { //
		width: 100%;
		height: auto;
		max-height: initial;
	}

}
@media only screen and (min-width: 768px) {
		.header-complex {
			.header-logo {
				padding-right: 0px;
			}
			.header-content {
				display: none;
				padding-right: 0px;
			}
		}
		.listing-detail-sections-wrap.has_thumb {
			width: 60%;
			display: inline-block;
		}
		.listing-detail-thumb-wrap {
			width: 40%;
			//float: right;
		}
		.float-lg-right {
			//float: right;
		}
		#menu-ea-main-menu {
			display: flex!important;
			justify-content: space-around;
			float: initial;
		}
}
@media only screen and (min-width:600) {

}

@media only screen and (max-width:600px) {
	.nav-links {
		a:not(.prev):not(.next), span.dots {
			display: none;
		}
	}
	.document-title h1 {
		font-size: 40px;
	}
}


@media only screen and (max-width: 1199px) and (min-width:768px) {
	// inbetween mobile
	// listing archive
	.listing-row  {
			.listing-row-properties,
			 {
				width: 40%;
				float: left;

			}
			.listing-row-image {
				width: 40%;
			}
	}
	.footer-second {
		width: initial;
	}
}
@media only screen and (min-width: 992px) {
	.float-md-right {
		float: right;
	}
}

@media only screen and (min-width: 1200px) {
	.float-lg-right {
		float: right;
	}
}
